{% for child in children %}
    <div class="subtree ">
        <div class="subtree-title {{child.warningState}}" id="{{child.slug}}">
        <h3 style="padding: 5px;"> {{ child.title }} </h1>
        <p style="float:left; padding-left: 5px; padding-right:5px; max-width: 50%; line-height: 1.2em; text-align: left"> {{ child.shortDescription}}</p> 
        <p style="float:right; padding-left: 5px; padding-right:5px; max-width: 50%; line-height: 1.2em; text-align: right"> Due: {{child.dueDate}}</p>
        
        <span class="clear" ></span>
        </div>

        {% if child.children|length %}
            <div class="tree-container">
            
                {% include "rocketTicket/node.html" with children=child.children %}
            </div>
        {% endif %}
    </div>
{% endfor %}