
body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #202020;
    color: silver;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.tree 
{

    border-radius: 3px;
    border-width: 1px;
    
    
    padding: 10px;
    border-style: none;
    float: left;
}
.subtree
{
    
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
    border-color: transparent;
    
    margin: 5px;
    float: left;
    border-style: dashed;
    
    
    
}
.subtree-title
{
    
    line-height: 5px;
    margin:auto;
    max-width: 30em;
    border-width: 1px;
    border-color: #404040;
    border-radius: 3px;
    border-style: solid;
    margin-bottom: 5px;
    background-color: #303030;
    max-width: 20em;
    min-width: 15em;
    padding: 0px;
    position: relative;
    cursor: pointer;
    
    
}

.tree-container
{
    border-width: 0px;
    border-top: 2px;
    
    border-color: darkgray;
    background-color: white;
    clear:both;
    z-index: -2;

}
#titleText
{
    
    display: inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
    font-style:italic;
    text-decoration: underline;
    color:maroon;
    text-shadow: 5px 5px black;
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    

    
    
}
.good
{
    background-color: darkgreen;
}
.good .clear
{
    background-color: silver;
    border-color: silver;
}
.mediocre
{
    background-color: darkgoldenrod;
    color: white;
}
.mediocre .clear
{
    background-color: silver;
    border-color: silver;
}
.bad
{
    background-color: darkred;
}
.bad .clear
{
    background-color: black;
}
span.clear 
{ 
    clear: both; 
    display: block; 
    background-color: maroon;
    width: 100% - 2px;
    height: 10px;
    border-color: maroon;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor :auto;
    
}
#svg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .line{
    stroke-width:4px;
    stroke: white
  }
.debug-subtree
{
    border-color:white;
}
.debug-hidesvg
{
    stroke:transparent;
}
.subtreeMenu
{
    position: absolute;
    top: 7em;
    left: 10%;
    width:90%;
    
    background-color: white;
    z-index: 3;
    visibility: hidden;
    cursor:auto;
    padding: 5px;
}
.showMenu
{
    visibility: visible;
    

}
.subtreeRightText
{
    float:left; 
    padding-left: 5px; 
    padding-right:5px; 
    max-width: 50%; 
    line-height: 1.2em; 
    text-align: left;
    cursor:auto;
}
.subtreeLeftText
{
    float:right; 
    padding-left: 5px; 
    padding-right:5px; 
    max-width: 50%; 
    line-height: 1.2em; 
    text-align: right;
    cursor: auto;
}